
@font-face {
    font-family: 'Poppins';
    src: url('./../assets/fonts/Poppins-Bold.woff2') format('woff2'),
    url('./../assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: 'Poppins';
    src: url('./../assets/fonts/Poppins-ExtraBold.woff2') format('woff2'),
    url('./../assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-display: swap;
    font-weight: 800;
}

@font-face {
    font-family: 'Poppins';
    src: url('./../assets/fonts/Poppins-Regular.woff2') format('woff2'),
    url('./../assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('./../assets/fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('./../assets/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-display: swap;
    font-weight: 600;
}
@font-face {
    font-family: 'Poppins';
    src: url('./../assets/fonts/Poppins-Medium.woff2') format('woff2'),
    url('./../assets/fonts/Poppins-Medium.ttf') format('truetype');
    font-display: swap;
    font-weight: 500;
}
@font-face {
    font-family: 'Urbanist';
    src: url('./../assets/fonts/Urbanist-Regular.woff2') format('woff2'),
    url('./../assets/fonts/Urbanist-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: 600;
}
