html {
  font-size: 62.5%;
  font-family: $primary-font;
  color: $text;
}

strong,
b {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

a {
  &:not(.btn) {
    color: $text;
  }
}
mark {
  background-color: transparent;
  color: $primary;
}
h1,
.h1 {
  line-height: 1.25;
  @include adaptiveProperty('font-size', 65, 28);
  font-weight: 800;
  @media(min-width: $tabletSmallP1) {
    font-weight: 700;
    line-height: 1.5;
  }
}

h2,
.h2 {
  line-height: 1.4;
  @include adaptiveProperty('font-size', 55, 28);
  font-weight: 700;
  @media(min-width: $tabletSmallP1) {
    line-height: 1.1;
  }
}

h3,
.h3 {
  line-height: 1.25;
  font-weight: 700;
  @include adaptiveProperty('font-size', 40, 22);
  @media(min-width: $tabletSmallP1) {
    line-height: 1.36;
  }
}

h4,
.h4 {
  line-height: 1.6;
  font-size: 1.8rem;
  font-weight: 600;
  @media (min-width: $tabletSmallP1) {
    line-height: 1.66;
  }
}

h5,
.h5 {
  line-height: 1.35;
  font-weight: 700;
  @include adaptiveProperty('font-size', 24, 18);
}

h6,
.h6 {
  line-height: 1.4;
  font-weight: 700;
  @include adaptiveProperty('font-size', 20, 18);
}


p,
.p1 {
  line-height: 1.75;
  font-weight: 400;
  @include adaptiveProperty('font-size', 16, 16);
}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 4rem;

  @media(min-width: $tabletSmallP1) {
    margin-top: 5rem;
  }

  & > mark {
    color: $primary;
  }

  &+p,
  &+ul,
  &+ol {
    margin-top: 1.5rem;

    @media(min-width: $tabletP1) {
      margin-top: 1.5rem;
    }

  }
} 

p+p {
  margin-top: 1.6rem;

}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}


table {
  border: 1px solid #DDDDDD;
  max-width: 100rem;
  width: 100%;

  @media(min-width: $desktopP1) {
    max-width: 50vw;
  }

  th {
    text-align: left;
    @extend .p1;
    font-weight: 700;
    padding: 2rem;
    text-transform: uppercase;

    @media(min-width: $desktopP1) {
      padding: 1.05vw;
    }
  }

  td {
    border: 1px solid #DDDDDD;
    color: #404040;
    @extend .p1;
    padding: 2rem;
    width: 42%;

    @media(min-width: $desktopP1) {
      padding: 1.05vw;
    }

    @media(min-width: $K2Large) {
      border-width: .08vw;
    }

    &:last-child {
      width: 58%;
    }


  }
}

ul,
ol {
  list-style: none;
  margin: 0;

  li {
    @extend .p1;

    &+li {
      margin-top: .6rem;

      @media(min-width: $desktopP1) {
        margin-top: .65vw;

      }
    }
  }
}

ul {
  li {
    position: relative;
    padding-left: 1.6rem;

    @media(min-width: $tabletP1) {
      padding-left: 2rem;
    }

    @media(min-width: $K2Large) {
      padding-left: 1.05vw;
    }

    &:after {
      content: '';
      width: .6rem;
      height: .6rem;
      background-color: $primary;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: .8rem;

      @media(min-width: $tabletSmallP1) {
        top: .9rem;
      }

      @media(min-width: $deskLargeP1) {
        top: 1rem;
      }

      @media(min-width: $K2Large) {
        top: .5vw;
        width: .3vw;
        height: .3vw;
      }
    }
  }
}

ol {
  list-style-type: decimal;
  margin-left: 1.6rem;

  @media(min-width: $tabletP1) {
    margin-left: 2rem;
  }

  @media(min-width: $K2Large) {
    margin-left: 1.05vw;
  }
}


.reset-list {
  list-style-type: none;
  padding: unset;
  margin: unset;

  li {
    padding: unset;
    margin: unset;
    line-height: 1;

    &:after {
      display: none;
      width: unset;
      height: unset;
      position: unset;
      top: unset;
      left: unset;
      background-color: unset;
    }
  }
}

.reset-table {
  border: unset;
  max-width: unset;

  th,
  td {
    max-width: unset;
    width: unset;
    border: unset;
    padding: unset;
  }
}
