// container
$containerPaddingS: 1.6rem;
$containerPaddingM: 3.5rem;
$containerPadding: 6rem;

// Sizing
$containerMaxWidth: 1300;
$K2Large: 1921px;
$deskXLarge: 1920px;
$deskXLargeP1: calc($deskXLarge / 1px) + 1px;
$deskLarge: 1599px;
$deskLargeP1: calc($deskLarge / 1px) + 1px;
$desktop: 1440px;
$desktopP1: calc($desktop / 1px) + 1px;
$tabletLarge: 1280px;
$tabletLargeP1: calc($tabletLarge / 1px) + 1px;
$tablet: 1024px; 
$tabletP1: calc($tablet / 1px) + 1px; 
$tabletSmall: 767px;
$tabletSmallP1: calc($tabletSmall / 1px) + 1px;
$mobile: 640px;
$mobileP1: calc($mobile / 1px) + 1px;
$mobileSmall: 420px;
$mobileSmallP1: calc($mobileSmall / 1px) + 1px;

// Adaptive Property Sizing
$adaptivePropertyMaxViewport: $containerMaxWidth;
$adaptivePropertyMinViewport: 430;

// Colors

// base
$white: #FFFFFF;
$black: #000000;
$transparent: #00000000;

$primary: #5971F8;
$secondary: #E8F3F5; // Categories button
$tertinary: #EDF2F3;
$quartenary: #F6F8F8;
$footerBg: #282A2B;
$selectBg: #E7F1F3;
$selectBgDark: #12161A;
$dark: #1F252A;
$text: #293B48;
$textSecondary: #0E3B44;
$textMuted: #64748B;
$border: #AAAAA9; // bottom-cta input
$borderSecondary: #AFC0C4; 
$borderTertinary: #CDDFE1; // hero input
$borderMuted: #94A3B8; // separator between show and pages in pagination
$burger: #4F748E;
$linkSecondary: #0F3B44; // Blur for oval svg in bottom-cta and long-text comps
$success: #69C292; //
$warning: #F8D65F; // bottom-cta buttons
$error: #F15F5F;   //

// Fonts
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Inter', sans-serif;
