.btn {
    @include buttonStyles();
}

.link {
    display: inline-flex;
    align-items: center;
    @include adaptiveProperty("font-size", 18, 16);
    font-weight: 600;
    line-height: 1.5;
    gap: 1rem;
    color: rgb(var(--primary));
    transition: .3s all;
    img,svg {
        position: relative;
        left: 0;
        transition: 0.3s all;
        path {
            fill: rgb(var(--primary));
            transition: .3s all;
        }
    }
    &:hover {
        filter: brightness(90%);
        img,svg {
            left: 5px;
        }
    }
}
