.field {

    input,
    textarea,
    select {
        outline: none;
        padding: 1.3rem 2rem;
        width: 100%;

        box-sizing: border-box;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: 1px solid $primary;
        @include adaptiveProperty('font-size', 16, 12);
        line-height: 1.5;
        border-radius: 1.5rem;
        font-weight: 500;
        background-color: transparent;
        &::placeholder {
            color: rgba($text, .5);
        }
    }



    textarea {
        resize: none;
        overflow-y: auto;
        height: 15rem;
    }

    &--checkbox {
        display: flex;
        gap: 1rem;
        input {
            min-width: 1.2rem;
            max-width: 1.2rem;
            height: 1.2rem;
            appearance: none;
            border-color: $white;
            border-radius: 2px;
            padding: 0;
            margin-top: 3px;
            cursor: pointer;
            &:checked {
                background-color: $white;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23000000' height='800px' width='800px' version='1.1' id='Layer_1' viewBox='0 0 512 512' enable-background='new 0 0 512 512' xml:space='preserve'%3E%3Cpolygon points='437.3,30 202.7,339.3 64,200.7 0,264.7 213.3,478 512,94 '/%3E%3C/svg%3E");                background-repeat: no-repeat;
                background-size: 90% auto;
                background-position: center;
            }
        }
        label {
            color: rgba($white, .5);
            font-weight: 500;
            font-size: 1.2rem;
            cursor: pointer;
            line-height: 1.6;
            a {
                color: rgba($white, .5);
                text-decoration: underline;
                font-weight: 600;
                &:hover {
                    color: $white;
                }
            }
        }
        .wpcf7-list-item  label{
            display: flex !important;
            gap: 1rem;
        }
    }
}

.wpcf7-not-valid-tip {
    margin-top: 6px;
    width: 100%;
}

[data-status="spam"],
[data-status="invalid"],
[data-status="unaccepted"] {
    .wpcf7-response-output {
        border: none !important;
        color: red;
        line-height: 1.4;
        margin: 0 !important;
        padding: 0 !important;
        font-size: 1.4rem !important;
    }
}
[data-status="sent"] {
    .wpcf7-response-output {
        border: none !important;
        color: $secondary;
        line-height: 1.4;
        margin: 0 !important;
        font-size: 1.4rem !important;
        padding: 0 !important;
    }
}

[data-status="submitting"] {
    button {
        color: rgba($white, 0);
        transition: 0s all;
        pointer-events: none;
        &:after {
            opacity: 0;
        }
        .loading {
            opacity: 1;
        }
    }
}
.loading {
	border-bottom: 4px solid rgba(255, 255, 255, 0.3);
	border-left: 4px solid rgba(255, 255, 255, 0.3);
	border-right: 4px solid rgba(255, 255, 255, 0.3);
	border-top: 4px solid rgba(255, 255, 255, 0.7);
	border-radius: 100%;
    opacity: 0;
	height: 20px;
	width: 20px;
	animation: spin .6s infinite linear;
  text-indent: 999em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
@keyframes spin {
	from {transform: translate(-50%,-50%) rotate(0deg);}
	to {transform: translate(-50%,-50%) rotate(359deg);}
}
.wpcf7-form-control-wrap {
    display: block;
}